
/* ===========================
    General Styles
============================ */

*, :after, :before{
  box-sizing: border-box;
} 

.html{
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.body{
  padding: 0;
  margin: 0;
  background: #dddfe6;
}

.container__h1{
  margin: 0;
  line-height: 2.8;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
	color: #594b45;
	text-align: center;
}

.container__h1--h2{
  line-height: 1.4;
  font-size: 11px;
	color: #808080; 
  letter-spacing: 1px;
	text-align: left;
  text-transform: uppercase;
}

.container__h3{
  margin: 0;
  font-family: 'PT Mono'; 
  word-spacing: -3px;
  font-size: 18px;
  font-weight: 400;
	color: #594b45;
  letter-spacing: 0;
	text-align: left;
  text-transform: uppercase;
  line-height: 1.8;
}

/* ===========================
    Card
============================ */

.container{
  width: 390px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #e6e6e6;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 9px;
          border-radius: 9px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.payment{
  z-index: 0;
  width: 370px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.card{
  width: 300px;
  height: 178px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;
  z-index: 5;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 15px 24px rgba(37,44,65,0.32);
          box-shadow: 0 15px 24px rgba(37,44,65,0.32);
}

.card-content{
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 5;
}

.logo-visa{
  position: relative;
  margin-top: -20px;
  left: 184px;
  height: 70px;
  width: 80px;
}

.card__flag{
  position: absolute;
  left: 5px;
  top: 30%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ce0e1d;
}

.card__flag--yellow{
  left: auto;
  right: 5px;
  background: #e39833;
}  

.card__flag--yellow::after{
  content: "MasterCard";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-46.5px, -7px);
          transform: translate(-46.5px, -7px);
  font-size: 11.2px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
} 

.card__cvc-1{
  margin-left: 87px;
}

.card__exp-month{
  width:18px; 
  display: inline-block;
}

.card__exp-year{
  width:18px; 
  display: inline-block;
}

.card__cvc-2{
  margin-left: 90px;
}

.wrong-entry {
  -webkit-animation: wrong-log .45ss;
  animation: wrong-log .45s;
}

@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}

@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}

/* ===========================
    Card Form
============================ */

.card-form{
  width: 100%;
  position: relative;
  padding: 15px 35px;
}

.field{
  height: 45px; 
  margin-top: 16px;
  padding: 2px 10px;
  margin-bottom: 2px;
  background: #f4f5f9;
  border: 1px solid #d0d0df;
  display: inline-block;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 1.5px #d0d0df, rgba(32, 32, 72, 0.12);
          box-shadow: inset 0 0 0 1.5px #d0d0df, rgba(32, 32, 72, 0.12);
  -webkit-transition: box-shadow 0.2s;
          transition: box-shadow 0.2s;
}

.field:focus-within{
  -webkit-box-shadow: inset 0 0 0 1.5px #3d6df9, 0 1px 3px rgba(61, 109, 249, 0.25);
          box-shadow: inset 0 0 0 1.5px #3d6df9, 0 1px 3px rgba(61, 109, 249, 0.25);
  -webkit-transition: box-shadow 0.2s; 
          transition: box-shadow 0.2s; 
}

.field:hover .field__input::placeholder{
  color: #babac9;
}

.card-icon{
  position: relative;
  top: 6.9px; 
  z-index: 5;
} 

.field__input{
  height: 30px; 
  width: 241px; 
  position: relative;
  padding: 0px 10px 0px 6px;
  background: transparent;
  border: none;
  color: #818190;
  font-family: 'PT Mono';
  font-size: 18px;
  font-weight: 400;
  z-index: 0;
  outline: none;
}

.field__input::placeholder{
  color: #c9c9d9;
  -webkit-transition: color 0.9s;
          transition: color 0.9s;
}

.field--space{ 
  margin-right: 6px; 
} 

.field__input--cardexp-1{
  width: 43px;
  padding: 0px 0px 0px 6px;  
}

.field__input--cardexp-2{
  width: 43px; 
  padding: 0px 0px 0px 6px;  
}

.field__input--cardcvc{
  width: 60px;
}

.button{
  margin: 20px auto; 
  margin-bottom: 40px; 
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 16px;
  width: 100%;
  cursor: pointer;
  border: none; 
  -webkit-border-radius: 24px;
          border-radius: 24px;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .5px;
  background: #212327;
  color: #fff;
  -webkit-box-shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
          box-shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  -webkit-transition: box-shadow .44s ease, -webkit-transform .44s ease;
          transition: box-shadow .44s ease, -webkit-transform .44s ease;
          transition: transform .44s ease, box-shadow .44s ease;
}
  
.button:hover{
  -webkit-transform: translateY(-4px);
          transform: translateY(var(-4px));
  -webkit-box-shadow: 0 4px 20px -2px rgba(21, 25, 36, 0.5); 
          box-shadow: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

/* ===========================
    Responsive
============================ */

@media (max-height: 599px){ 
  .body{
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;  
    position: relative; 
  }

  .container{
    top:0;
    left:0;
    right:0;
    bottom: 0; 
    position: relative; 
    margin: 1rem auto;
    -webkit-transform: none;
    transform: none;  
  }
}

@media (max-width: 400px){
  .body{
    background: #e6e6e6;
  }

  .container{
    width: 340px; 
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  } 

  .container__h3{
    line-height: 1.5;
  }

  .payment{
    width: 285px;
  }

  .card{
    width: 285px;
    height: 169px;
  }

  .logo-visa{
    left: 174.8px;
  }

  .card-form{
    padding: 15px 0px;
  }

  .field{
    text-align: left;
    display:block;
  }

  .field__input{
   width: 223px; 
  }

  .field--space{ 
    margin-right:0; 
  } 

  .field__input--cardexp-1{
    width: 86px;
  }

  .field__input--cardexp-2{
    width: 86px;
  }
} 